

body{
    background-color:darkcyan;
    color:white;
  }
  
 .nameheader{
    width: 1100px;
  background-color: lightseagreen;
  text-align: center;
  font-size:90px;
  margin:0;
}

.smallheader {

  display: flex;
  justify-content: center;
  width: 60%;

  background:rgb(23, 93, 102)

}


p {
 
  font:bold;
  text-align: left;
  font-size:25px; 
}

.container{
  display: flex;
}

.picture1{
  display:flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: powderblue;
  border-style: solid;
  border-width:5px;
  border-color: black;

}

.border{
  border-style: solid;
  border-width:5px;
  border-color: black;
  display: flex;
  justify-content:center;
}

.middle{
  display:flex;
  justify-content: center;
}

.picture2{
  display:flex;
  justify-content: flex-end;
  background:powderblue;
}

.container div {
  font-size: 5vw;
  padding: .5em;
  color: white;
  flex: 1;
}
.description{
  display:flex;
  justify-content: flex-end;
  background:rgb(23, 93, 102);
  border-style: solid;
  border-width:5px;
  border-color: black;

}

li{
  font-size:10px;
}